.loginContainer {
    width: 80%;
    margin: 0px auto;
}

.authButton {
    text-decoration: none;
    border: 1px solid #f6a017;
    overflow: hidden;
    z-index: 999;
    width: fit-content;
    font-size: 1.2em;
    padding: 0.3em 0.6em;
    color: #f4f4f4;
    text-transform: uppercase;
    transition: 2s;
    background: none !important;
  }
  
  .authButton:hover {
    box-shadow: 1px 1px 15px 5px #f6a11757;
    background: #f6a017 !important;
  }
  
  .authButton:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #f6a11762, transparent);
    transition: all 500ms;
  }

@media screen and (min-width: 600px) {
  
  }
  
  @media screen and (min-width: 768px) {
  
  }
  
  @media screen and (min-width: 992px) {
   
  }
  
  @media screen and (min-width: 1200px) {
    .loginContainer {
        width: 40%;
    }
  }