#dropzoneWrapper {
	border: 2px dashed rgb(63, 63, 253);
	border-radius: 4px;
	background-color: white;
	text-align: center;
	color: #0B0C10;
	padding: 2rem 1.25rem;
	margin-top: 15px;

	:hover {
		cursor: pointer;
	}

	&.drag-accept {
		background-color: #33b952;
		color: white;
	}

	&.drag-reject {
		background-color: #c70313;
		color: white;
	}

	.indicator {
		font-size: 1rem;
		height: 100%;
		svg {
			margin: 20px;
		}
	}

	.progress {
		font-size: 1rem;
		height: 1.5rem;
	}
}

